name: CI/CD - Build, Test, and Deploy Vue App

on:
  push:
    branches: [production]

permissions:
  contents: write

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci
      
      - name: Set environment
        run: echo "APP_ENV=production" >> $GITHUB_ENV

      - name: Run Cypress Tests
        uses: cypress-io/github-action@v6
        with:
          start: npm run dev
          wait-on: 'https://nknikhikasar.github.io/To-Do-Manager/'
          browser: chrome
          config: video=false

      - name: Build Project
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
